Package: shmig
Version: ::VERSION::
Section: free
Priority: optional
Architecture: all
Depends: bash (>= 4.3)
Installed-Size: 0
Maintainer: Kael Shipman<kael.shipman@gmail.com>
Description: A tiny, fully-featured database migration library for bash
 This is a single-file bash program that utilizes native database shell clients to manage
 and migrate databases. Read more at https://github.com/mbucc/shmig

